# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.idea/

# Env files
.env
*.pyc

# Docker
*.log

# ruff cache
.ruff_cache/

#mypy
.mypy_cache

sys
infrastructure/orm/migrations/0001_initial.py

create_users.sh
full_test_api.sh

media/
pytest.ini
migrations/
db.sqlite3
.coverage
htmlcov/
