# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.idea/
build/

# Env files
.env
*.pyc

# Docker
*.log

# ruff cache
.ruff_cache/

#mypy
.mypy_cache

sys
media/
.coverage

**/migrations/__pycache__/

synexify.egg-info/
