# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.idea/

# Env files
.env
*.pyc

# Docker
*.log

# ruff cache
.ruff_cache/

#mypy
.mypy_cache

sys

create_users.sh
full_test_api.sh

media/
pytest.ini
db.sqlite3
synexify.egg-info/
*.egg-info/
htmlcov/
.coverage
