{% extends "layouts/base.html" %}

{% block title %}Sprint: {{ sprint.get_name }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h2 class="mb-0">{{ sprint.get_name }}</h2>
        <a href="{% url 'web:project_detail' pk=project.get_id %}" class="text-muted small text-decoration-none">
            <i class="bi bi-arrow-left"></i> Back to the Project
        </a>
    </div>
    </div>

<div id="kanban-wrapper">
    {% include "web/projects/partials/kanban_board.html" %}
</div>
{% endblock %}